body {
  /* margin: 24px; */
  display: block;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 355px;
  margin: 36px 0px 0px 156px;
}
/* .container {
  min-width: 320px;
  max-width: 375px;
  margin: 0;
  padding: 0;
} */

/* timer */

input#datetime-picker {
  margin-right: 8px;
  margin-bottom: 32px;
  width: 272px;
  /* height: 40px; */
}

button[data-start] {
  display: inline-block;
  /* border-radius: 8px; */
  /* padding: 8px 16px; */
  width: 75px;
  /* border: transparent; */
  /* background-color: #cfcfcf; */
  /* color: #989898; */
  cursor: pointer;
}

.timer {
  display: flex;
  gap: 24px;
  /* margin-left: 600px; */
}
.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* flex-basis: calc((346px - 62px) / 4); */
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;

  font-family: 'Montserrat', sans-serif;
  /* font-weight: 400; */
  font-size: 40px;

  line-height: 1.2; /* line-height: 48px; */
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  color: #2e2f42;

  text-transform: uppercase;
}
